.jump-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
    @media screen and (max-width: 800px) {
        gap: 10px;
    }
    img{
        width: 50%;
    }
} 