@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Syncopate:wght@400;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: bold;
    margin: 0;
    font-size: 4vw;
}

a {
    text-decoration: none;
}

p,
a {
    margin: 0;
}

.bold {
    font-weight: bold;
    color: #FFCB6B;;
}